<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mymall.dao.ItemMapper">
    <select id="selectItem" resultType="map">
    	SELECT no as no, name as name, price as price FROM item ORDER BY no LIMIT #{startRow}, #{rowPerPage}
    </select>
    <select id="totalCount" resultType="int">
        SELECT COUNT(*) FROM item
    </select>
</mapper>