<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mymall.dao.MemberItemMapper">
    <select id="totalCount" resultType="int">
        SELECT COUNT(*) FROM member_item
    </select>
    <insert id="insertOrder" parameterType="com.test.mymall.vo.MemberItem">
        INSERT INTO member_item(member_no, item_no, order_date) VALUES(#{memberNo}, #{itemNo}, now())
    </insert>
    <select id="selectList" resultType="map">
        SELECT mi.no as no, mi.order_date as orderDate, mi.item_no as itemNo, i.name as name, i.price as price FROM member_item mi INNER JOIN item i ON mi.item_no = i.no WHERE mi.member_no = #{memberNo} ORDER BY no LIMIT #{startRow}, #{rowPerPage}
    </select>
    <delete id="deleteOrder" parameterType="int">
        DELETE FROM member_item WHERE member_no = #{memberNo}
    </delete>
</mapper>