<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mymall.dao.MemberMapper"> <!-- like package -->
    <select id = "selectMemberList" resultType="com.test.mymall.vo.Member">
        SELECT
            no as no
        FROM member
    </select>
    <select id="selectMember" parameterType="com.test.mymall.vo.Member" resultType="com.test.mymall.vo.Member">
    	SELECT no, id, pw, level FROM member WHERE id = #{Member.id}
    </select>
    <insert id="insertMember" parameterType="com.test.mymall.vo.Member">
        INSERT INTO member (id, pw, level) VALUES (#{id}, #{pw}, 0)
    </insert>
    <select id="login" parameterType="com.test.mymall.vo.Member" resultType="com.test.mymall.vo.Member">
  		SELECT no,id,level FROM member WHERE id = #{id} AND pw = #{pw}
  	</select>
  	<update id="modifyMember" parameterType="com.test.mymall.vo.Member">
    	UPDATE member SET pw = #{pw} WHERE id = #{id}
  	</update>
  	<delete id="deleteMember" parameterType="int">
  		DELETE FROM member WHERE no = #{memberNo}
  	</delete>
</mapper>