<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mymall.dao.MemberMapper"> <!-- like package -->
    <select id = "selectMemberList" resultType="com.test.mymall.vo.Member">
        SELECT
            no as no
        FROM member
    </select>
    <select id = "selectMemberOne" resultType="int">
        SELECT
            no as no
        FROM member
        WHERE no=#{no}
    </select>
    <insert id="insertMember" parameterType="com.test.mymall.vo.Member">
        INSERT INTO member
            (no, id)
        VALUES #{no}, #{id}
    </insert>
</mapper>